* {
 margin:0;
 padding:0;
 box-sizing:border-box;
}
.events-text-center {
display:flex;
justify-content:center;
font-size: 4rem;
text-decoration:none;
margin-bootom:10px;
}
.main-event-block {
border-top: 1px solid silver;
width:70%;
margin:0 auto;
}
.time-style {
margin-top: 10px;
}
.event-title {
margin-left:10px;
font-size: 1.8rem;
font-weight:bold;
}
.statia-form{
display:flex;
padding: 25px;
}
.statia-form div{
margin: 25px;
}
.mb-2, .my-2 {
    border:none;
}
footer {
    width:100%;
    background-color: #f8f9fa ;
    margin-bottom: 0px;
}
.style-text-copyright {pytyp
    margin-bottom:0px;
}
.footer-inside-wrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.style-footer-title {
    border-bottom: 1px solid black;
}
.blocks {
    margin: 5px 40px;
    flex-wrap:wrap;
}
.current {
    margin: 0 5px;
    padding: 2px 7px;
}
.current:hover {
    margin: 0 5px;
    background-color: #d7dbe2;
    border-radius: 50%;
    padding: 2px 7px;
}
.href-stle {
    margin: 0 5px;
    padding: 2px 7px;
}
.href-stle:hover  {
    border-radius: 50%;
    margin: 0 5px;
    background-color: #d7dbe2;
    padding: 2px 7px;
}
.pagination {
    display:flex;
    justify-content:center;
}
.news-colums{
    width:80%;
    margin: 0 auto;
}
.center-main-news {
    width:80%;
    margin:0 auto;
}
.mar-img {
    margin: 5px 10px;
}
.btn-submit {
    background-color: #5cb85c;
    padding: 6px 12px;
    border-radius: 5px;
    outline: none;
    border:none;
    color:white;
    margin: 5px 0 10px 50%;
}
.in-main-container {
    margin: 20px 0;
}
.container-center {
    width: 100%;
}
.comment-style-in {
    border-top: 1px solid silver;
    width:80%;
    word-wrap: break-word;
    word-break: break-all;
    margin: 5px auto;
}
textarea.form-control {
    height:50px;
    border: 1px solid silver;
    border-radius: 2px;
    width:100%;
}

.comment-styles {
    margin:10px 0 0 10px;
    padding:10px 0;
}
.items-form {
    display:flex;
    justify-content:center;
}
.twoitems {
    margin: 10px 0 10px 20px;
}
