.events-text-center {
text-align:center;
font-size: 4rem;
font-family: 'Playfair Display', serif;
}
.main-event-block {
border-top: 1px solid silver;
}
.time-style {
margin-top: 10px;
}
.event-title {
margin-left:10px;
font-size: 1.8rem;
font-weight:bold;
}
.statia-form{
display:flex;
padding: 25px;
}
.statia-form div{
margin: 25px;
}
.mb-2, .my-2 {
    border:none;
}
footer {
    width:100%;
    background-color: #f8f9fa ;
    margin-bottom: 0px;
}
.style-text-copyright {
    margin-bottom:0px;
}
.footer-inside-wrapper {
    display:flex;
    flex-wrap:wrap;
    justify-content:center;
}
.style-footer-title {
    border-bottom: 1px solid black;
}
.blocks {
    margin: 5px 40px;
    flex-wrap:wrap;
}