<footer>
    <div class="footer-wrapper">
        <div class="footer-inside-wrapper">
            <div class="blocks">
                <h3 class="style-footer-title">Useful links</h3>
                <p><a href="#">Contact us</a></p>
                <p><a href="#">News</a></p>
                <p><a href="#">Sport</a></p>
                <p><a href="#">IT</a></p>
            </div>
            <div class="blocks">
                <h3 class="style-footer-title">Address</h3>
                <p>saharova St Lorem </p>
            </div>
            <div class="blocks">
                <h3 class="style-footer-title">Partners</h3>
                <p><a href="#"><img src=""></a></p>
                <p><a href="#"><img src=""></a></p>
            </div>
            <div class="blocks">
                <h3 class="style-footer-title">Legal</h3>
                <p class="style-text-copyright">Copyright</p>
            </div>
        </div>
        <div class="footer-below-wrapper">
            <div class="social-icons"><a href="#"><i class="fab fa-facebook fa-2x"></i></a></div>
            <div class="social-icons"><a href="#"><i class="fab fa-twitter fa-2x"></i></a> </div>
            <div class="social-icons"><a href="#"><i class="fab fa-instagram fa-2x"></i></a></div>
            <div class="social-icons"><a href="#"><i class="fab fa-github fa-2x"></i></a></div>
        </div>
    </div>
</footer>