{% extends 'base.html' %}
<style>
    box-sizing:border-box;
</style>
{% block content %}
<!--<<<<<<< HEAD-->

<!--=======-->
<a  href="{% url 'Lastnews' %}" class="events-text-center">Last news</a>

<div class="container">
    <div class="row text-center">
    {% for new in news %}
            <div class="col-lg-3 ">
                <div class="card mb-2"  >
                  <img class="card-img-top" src="{{ new.cardimg.url }}" alt="Card image cap" height="150px;">
                  <div class="card-body">
                      <h3 class="card-title"> <a href="{% url 'Statia' new.id %}">{{ new.cardtitle }}</a></h3>
                      <p style="text-align:center;">{{ new.datepublished }}</p>
                  </div>
                </div>
            </div>
    {% endfor %}
    </div>
</div>
</div>
<div class="pagination">
  {% for num in news.paginator.page_range %}
        {% if num == news.number %}
            <span class="current"><b>{{ num }}</b></span>
        {% else %}
            <a class="href-stle" href="?page={{ num }}"> {{ num }}</a>
        {% endif %}
    {% endfor %}
</div>
    <div>
        <a href="{% url 'Sport' %}" class="events-text-center">Sport</a>
            {% for new in news %}
            {% if new.genre == 0 %}
        <div>
            <div class="main-event-block">
            <p class="time-style">{{ new.created }}<a href="{% url 'Statia' new.id%}" class="event-title">{{ new.cardtitle }}</a></p>
        </div>
            {% endif %}
            {% endfor %}
    </div>
    </div>
    <div>
        <a href="{% url 'Cultura' %}" class="events-text-center">Cultura</a>
         {% for new in news %}
         {% if new.genre == 1 %}
            <div>
                <div class="main-event-block">
                <p class="time-style">{{ new.created }}<a href="{% url 'Statia' new.id%}" class="event-title">{{ new.cardtitle }}</a></p>
            </div>
                {% endif %}
            {% endfor %}
    </div>
    <div>
        <a href="{% url 'Country' %}" class="events-text-center">Country</a>
         {% for new in news %}
         {% if new.genre == 2 %}
            <div>
                <div class="main-event-block">
                <p class="time-style">{{ new.created }}<a href="{% url 'Statia' new.id%}" class="event-title">{{ new.cardtitle }}</a></p>
            </div>
                {% endif %}
            {% endfor %}
    </div>
{% endblock %}