{% extends 'base.html' %}
{% block content %}

<div class="container">
    <div class="row text-center">
    {% for new in news %}
        {% if new.genre == 0 %}
            <div class="col-lg-3 ">
                <div class="card mb-2"  >
                  <img class="card-img-top" src="{{ new.cardimg.url }}" alt="Card image cap" height="150px;">
                  <div class="card-body">
                      <h3 class="card-title"> <a href="{% url 'Statia' new.id %}">{{ new.cardtitle }}</a></h3>
                      <p style="text-align:center;">{{ new.datepublished }}</p>
                  </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}
    </div>
</div>
{% endblock %}