{% extends 'base.html' %}
{% block content %}

<h2 class="events-text-center">{{ new.cardtitle }}</h2>
<div class="statia-form">
    <img src="{{ new.cardimg.url }}" alt="Card image cap" width="45%">
    <div>{{ new.carddescription}}</div>
</div>

<div class="comment-styles">
    {% for comment in comments %}
        <div class="comment-style-in">
            <p class="comment-user">{{ comment.user }}</p>
            <p>{{ comment.text }}</p>
            <p>{{ comment.created }}</p>
            <p><img src="{{ comment.picture }}"></p>
        </div>
    {% endfor %}
    </div>

<div class="container-center">
<form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in form %}
            <div class="items-form">
                <div class="twoitems"><div class="form-group{% if field.errors %} is-invalid{% endif %}">{{ field }}</div></div>
            </div>
        {% endfor %}
        <button class="btn-submit" type="submit">Коментувати</button>
</form>
</div>
{% endblock %}
